<div class="header-section">
    <div class="header-wrap">
        <div class="header-logo">
            <h1 class="is-image">
                <a href="/">
                    <img src="/img/drybar.svg" alt="DryBar Comics">
                </a>
            </h1>
        </div>
        <div class="header-nav">
            <input id="toggle" class="header-checkbox" type="checkbox">
            <label class="header-toggle" for="toggle">
                        <span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </span>
            </label>
            <nav>
                <ul>
                    <li><a href="/" class="is-active">Home</a></li>
                    <li><a href="/activity">Activity</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
                <ul>
                    <li class="signup global-button">
                        <a href="https://www.ticketmaster.com/" target="_blank">
                            <i class="bi bi-box-arrow-up-right"></i>
                            Fancy a Ticket?</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>